<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p> I go by Fonix, I am music producer working out of Providence, Rhode Island. I have been producing for 8+ years. I produce mainly Hip-Hop, Reggaeton and boutique/niche beats. I am always upfront about how I do business and have always had a passion to make music and create waves rather than ride them.     </p>
            </div>
            <div class="col-lg-4">
                <p>I try to only use the most unique sounds and experiment with different technique that people have never heard before. Take a look and enjoy. I enjoy working with artist and while I may not have the most time, if you would like to callaborate for Youtube, film scores or generally anything music related my information is below. </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/Fonix-1613751258939379/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                   
                        <li>
                            <a href="https://twitter.com/Fonix_Beats" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                    
                        <li>
                            <a href="https://www.youtube.com/channel/UCV27MJZSTQtQnc5e50v_5Pg" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a>
                        </li>
                    </ul>
                </a>
            </div>
        </div>
    </div>
</section>

