<section class='success' id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Frequently Asked Question</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
       
            
            <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-danger">
            <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion" href="#q1">IF I PURCHASE A BEAT IS IT REMOVED FROM YOUR SITE AND NO LONGER SOLD?</a>
            </div>
            <div id="q1" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>No. Only when you purchase Exclusive Rights will the beat be removed from the site and no longer sold. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
         <div class="panel panel-danger">
            <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion" href="#q2"> IF I BUY A BEAT AND RECORD TO IT CAN I SELL MY SONG?</a>
            </div>
            <div id="q2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Yes, you are allowed to sell your new song up to the distribution limit based on the type of license you purchased <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
         <div class="panel panel-danger">
            <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion" href="#q3"> HOW LONG WILL IT TAKE FOR MY BEAT TO BE SENT?</a>
            </div>
            <div id="q3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Beats are delivered instanly via email after payment is processed.  <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
         <div class="panel panel-danger">
            <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion" href="#q4">WHAT PAYMENT METHODS ARE ACCEPTED?</a>
            </div>
            <div id="q4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>I accept Paypal, Moneybookers, Western Union, MoneyGram, cash and bank-transfers. If you have a credit/debit-card or funds on your paypal-account, you can purchase beats through the paypal-shopping-cart on my sites. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
         <div class="panel panel-danger">
            <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion" href="#q5">CAN I USE A BEAT I LEASED AFTER EXCLUSIVE RIGHTS HAVE BEEN SOLD?</a>
            </div>
            <div id="q5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>YES! As long as you stay within the leasing terms, you are allowed to use it. Selling exclusive rights does not affect previous leases. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
                </form>
            </div>
        </div>
    </div>
</section>

