<header>
    <div class="container">
        <div class="row">
            <div class="intro-text">
                <span class="name">Fonix Beats</span>
                    <hr class="star-light">
                    <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2"> <h2> Youtube </h2>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zwH22lJlYh0">
                  </iframe>
                </div>
            </div>
        </div>
    </div>
</header>

