<section id="portfolio" class="success">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-2 text-center ">
                <h2>Music Store</h2>
                <hr class="star-light">
            </div>
            <div class="col-xs-3 text-center">
                <h2>Info</h2>
                <hr class="star-light">
                </div>
        </div>
        <div class="row">
            <div class="col-xs-5 col-xs-offset-2 text-center ">
                
                <center>
               
                   <object type='application/x-shockwave-flash' height='340' width='500' data='https://www.myflashstore.net/widgets/flash/echostore.swf?user_id=117076'  allowscriptaccess='always'>
<param name='movie' value='https://www.myflashstore.net/widgets/flash/echostore.swf?user_id=117076' />
<param name='menu' value='false' />
<param name='wmode' value='transparent' />
<param name='allowscriptaccess' value='always' />
<param name='flashvars' value='' />
</object>
                </center>
                
            </div>
            <div class="col-xs-3 ">
                
                   Intrumental Licenses can be purchased via the beatstore widget. You will get instant instant delivery via the link provided. The file will be a high quality wave file and the license will be good upto 2000 sales perfect for album, EP, or mixtape. <BR><br>
                       Exlusive rights grant you unlimited sales as long as the producer is credited. If you have never purchase beats or are have question check out the <BOLD> FAQ </BOLD> section.
            </div>
         
        </div>
    </div>
</section>

